.title {
    color: #444444;
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    font-family: Optima;
    font-size: 35px;
    text-align: center;
    line-height: 100px;
    margin: 0;
    position: relative;
}

.topnav {
    position: relative;
    margin: 20px;
}

.topnav ul {
    margin: 50px;
    padding: 0;
    text-align: center;
    font-family: Optima;
    font-size: 18px;
}

#container {
    width: 1200px;
    margin: 0 auto;
}


/*header選單*/

.topnav li {
    margin: 0 30px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.topnav a {
    padding: 30px;
    text-decoration: none;
    color: #706F6E;
    line-height: 100%;
}

.topnav a:hover {
    color: #6FEDFD;
}

@media only screen and (max-width: 768px) {
    .topnav {
        position: relative;
        min-height: 180px;
        width: 300px;
    }
    .topnav ul {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ddd;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    .topnav li {
        display: none;
        margin: 0;
    }
    .topnav .current {
        display: block;
    }
    .topnav a {
        display: block;
        padding: 5px 5px 5px 20px;
        text-align: left;
    }
    .topnav ul:hover li {
        display: block;
        margin: 3px;
    }
    .col-md-4 {
        width: 33.33%;
    }
}


/*header選單end*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#title {
    color: #444444;
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    font-family: Optima;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    margin: 0;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

.trail {
    width: 100px;
    height: auto;
    float: left;
    padding-bottom: 20px;
}

.aside {
    background-color: #DDDDDD;
    font-family: Optima;
    width: 150px;
    height: 500px;
    font-size: 14px;
    padding: 15px;
    float: left;
    list-style: none;
}

.section {
    width: 400px;
    height: 500px;
    background-color: #F0FFF0;
    font-size: 15px;
    font-family: Optima;
    padding: 20px;
    float: left;
}

h1 {
    font-family: Optima;
    font-size: 30px;
    color: #505050;
    padding-bottom: 20px;
}

h2 {
    font-family: Optima;
    font-size: 15px;
    color: #505050;
    padding-top: 20px;
}

.picture {
    width: 650px;
    height: 500px;
    float: left;
}


.footer-bottom {
    background-color: #272727;
    clear: both;
    height: 50px;
    text-align: center;
    font-family: Optima;
    color: #FFFFFF;
    padding: 15px;
}
